.btn-selected{
    box-sizing: border-box;
    height: 25px;
  width: 72px;
  border: 1px solid #F8A311;
  background-color: #F8A311;
  border-radius: 12px;
  box-shadow: 0 8px 30px 0 rgba(227,227,227,0.37);

  color: #FFFFFF;
  font-family: Inter;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
  margin-right: 10px;
}

.btn-unselected{
    box-sizing: border-box;
    height: 25px;
  width: 72px;
  border: 1px solid #F8A311;
  border-radius: 12px;
  box-shadow: 0 8px 30px 0 rgba(227,227,227,0.37);
  margin-right: 10px;

  color: #F8A311;
  font-family: Inter;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}